.intro{
  width: 100%;
  height: 500px;
  /* scroll-snap 기능 구현 */
  scroll-snap-align: start;

  /*인트로 화면 배경 넣어주기*/
  display: flex;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url(../src/intro.jpg);
}

/* 한줄 소개 꾸며주기 */
.intro__type {
  margin-top: 172px;
  display: inline-flex;
  gap: 0.32em;
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}


/* 영어 소개 멘트 꾸며주기 */
.english_comment{
  font-size: 17px;
  font-style: italic;
  text-align: left;
  line-height: 1.5;
}
