.header {
    display: flex;
    position: sticky;
  
    /* 스크롤업되는 컨텐츠 위로 올라오도록 */
    z-index: 2;
  
    top: 0;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(228, 207, 200, 0.5);
    text-decoration: none;
  }

  .header__homelink {
    display: inline-block;
    padding: 0 24px;
    height: 72px;
    line-height: 72px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }


  .header__nav-item {
    font-size: 17px;
    display: inline-block;
    position: relative;
  }

  .header__nav-item a {
    /* 클릭 영역 확대 */
    display: inline-block;
    height: 72px;
    line-height: 72px;
    text-decoration: none;
    color: black;
    padding: 0 0.8em;
  }
 .header__nav-item:last-child {
        margin-right: 1.6em;
  }
   
   /* li 다음에 아래 css가 적용된다는 것
   처음에는 길이와 높이가 모두 0이다 */
   .header__nav-item::after {
    content: '';
    position: absolute;
    /* 각 링크의 아래에서 시작하고 왼쪽에서 50%니까
    중간 부터 시작한다. */
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: white;
    transition: all 350ms;
  }
  /* 마우스가 호버되면 길이가 100%, 높이도 8px 적용
  하얀 사각형이 뜨도록 */
      .header__nav-item:hover::after {
        left: 0;
        width: 100%;
        height: 8px;
      }
      .header__menu-btn {
        display: none;
      }
  
